$colorBack: #eeeeee;
$colorBack2: #e1e1e1;
$colorBackDark: #4d4d4d;
$colorText: #283136;
$colorTextMiddle: #444444;
$colorTextLighten: #666666;
$colorAccent: #fb565a;
$colorAccentHover: #e74246;
$colorAccentActive: #d7373b;

$sansSerif: "Roboto", "Arial", sans-serif;

$blinkDetector: -webkit-min-device-pixel-ratio;
