<ul class="pagination {{ mixClass }}">
  <li>
    <a class="pagination__button {{ mixButtonClass }}">1</a>
  </li>
  <li>
    <a href="#" class="pagination__button {{ mixButtonClass }}">2</a>
  </li>
  <li>
    <a href="#" class="pagination__button {{ mixButtonClass }}">3</a>
  </li>
  <li>
    <a href="#" class="pagination__button pagination__button--next {{ mixButtonClass }}">Следующая</a>
  </li>
</ul>
