{% extends template %}

{% block main %}
  <header class="page__header">
    <h1 class="page__heading page__lead container">Магазин готовых шаблонов</h1>
  </header>

  {% include "source/components/products/products.njk" %}
{% endblock %}
