<div class="sorting {{ mixClass }}">
  <p class="sorting__heading">Сортировать:</p>

  <ul class="sorting__props" aria-label="Сортировка по признаку">
    <li><a class="sorting__link">По цене</a></li>
    <li><a href="#" class="sorting__link">По типу</a></li>
    <li><a href="#" class="sorting__link">По названию</a></li>
  </ul>

  <ul class="sorting__order" aria-label="Направление сортировки">
    <li>
      <a class="sorting__link sorting__link--decrease" aria-label="По убыванию"></a>
    </li>
    <li>
      <a class="sorting__link sorting__link--increase" href="#" aria-label="По возрастанию"></a>
    </li>
  </ul>
</div>
