<footer class="footer">
  {% include "source/components/contacts/contacts.njk" %}
  {% include "source/components/feedback/feedback.njk" %}
  {% include "source/components/socials/socials.njk" %}

  {% set mixClass = "preloader--fullscreen" %}
  {% include "source/components/preloader/preloader.njk" %}
</footer>
