<section class="contacts yandex-map" id="contacts">
  <h2 class="visually-hidden">Контакты</h2>
  <div class="yandex-map__canvas" id="yandex-map"></div>
  {{ img("img/map.png", "Карта с меткой адреса", "yandex-map__fallback-img", 1440, 416) }}

  <div class="container">
    <div class="contacts__content">
      <b class="contacts__name">Nёrds design studio</b>
      <p class="contacts__description yandex-map__hint">191186, Санкт-Петербург, ул. Б. Конюшенная, д. 19/8</p>
      <p class="contacts__description">тел. <a class="contacts__textlink" href="tel:+78122757575">+7 (812) 275-75-75</a></p>
      <button class="contacts__button button hidden" data-open="feedback">Напишите нам</button>
    </div>
  </div>
</section>
